/* Font Declarations */
@font-face {
    font-family: 'Rothek';
    src: url('../fonts/trial-rothek-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rothek';
    src: url('../fonts/trial-rothek-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rothek';
    src: url('../fonts/trial-rothek-semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rothek';
    src: url('../fonts/trial-rothek-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rothek';
    src: url('../fonts/trial-rothek-black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
} 